{{ form_start(form, {'attr': {'class': 'space-y-4'}}) }}

{{ form_row(form.title, {
  'attr': {'class': 'block w-full px-4 py-2 mt-2 text-teal-700 bg-white border border-teal-300 rounded-md focus:border-teal-400 focus:ring-teal-300 focus:outline-none focus:ring focus:ring-opacity-40'},
  'label_attr': {'class': 'block text-sm font-medium text-teal-700'}
}) }}

{{ form_row(form.content, {
  'attr': {'class': 'block w-full px-4 py-2 mt-2 text-teal-700 bg-white border border-teal-300 rounded-md focus:border-teal-400 focus:ring-teal-300 focus:outline-none focus:ring focus:ring-opacity-40'},
  'label_attr': {'class': 'block text-sm font-medium text-teal-700'}
}) }}

{% if is_granted('ROLE_ADMIN') %}
  {{ form_row(form.status, {
    'attr': {'class': 'block w-full px-4 py-2 mt-2 text-teal-700 bg-white border border-teal-300 rounded-md focus:border-teal-400 focus:ring-teal-300 focus:outline-none focus:ring focus:ring-opacity-40'},
    'label_attr': {'class': 'block text-sm font-medium text-teal-700'}
  }) }}
{% endif %}

<div class="flex items-center justify-start mt-4 gap-x-2">
    <button type="submit" class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-teal-600 border border-transparent rounded-lg active:bg-teal-600 hover:bg-teal-700 focus:outline-none focus:shadow-outline-teal">
        {{ button_label|default('Save') }}
    </button>
    <a href="{{ is_granted('ROLE_EDITOR') ? path('editor_app_articles_index') : path('app_articles_index') }}" class="px-4 py-2 text-sm font-medium leading-5 text-teal-600 transition-colors duration-150 border border-transparent rounded-lg hover:text-teal-700 focus:outline-none focus:shadow-outline">
        Cancel
    </a>
    
</div>

{{ form_end(form) }}
